<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>磁力岛-CiLiDao-磁力搜索</title>
<meta name="keywords" content="磁力搜索,磁力链接,磁力搜,磁力链,磁力链接搜索,BT搜索"/>
<meta name="description" content="磁力岛的磁力链接搜索引擎以最快最全的方式索引了全球最新最热的BT种子信息和磁力链接资源,提供磁力资源搜索、BT搜索、种子搜索,让用户快速找到自己想要的资源。"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="/favicon.ico" rel="SHORTCUT ICON">
<link rel="stylesheet" type="text/css" href="/font/fontawesome-4.2.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/other.css"/>
<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
<script type="text/javascript" src="/js/main.js"></script>
<style type="text/css">.t_num{display:inline-block;line-height:13px;position:relative;float:left;top:5px;left:10px;}.t_num i{width:15px;height:26px;display:inline-block;background:url(/img/number.png) no-repeat;background-position:0 0;text-indent:-999em}</style>
</head>
<body>
<header id="top">
<div class="head">
<div class="wrap">
<div class="logo">
<a href="/" target="_blank" title="磁力岛">
<img alt="磁力岛 logo" class="pngfix" src="/img/index.png" width="110" height="40" border="0">
</a>
</div>
<div class="menu">
<div class="menu-right">
<a href="javascript:;" class="theme-login"><i class="fa fa-rss-square fa-1"></i>订阅我们</a>
<a href=""><i class="fa fa-mobile fa-2"></i>手机浏览</a>
</div>
</div>
</div>
</div>
</header>
<div class="theme-popover"><div class="theme-poptit"><a href="javascript:;" title="关闭" class="close">×</a><h3>订阅 是一种坚持</h3></div><div class="theme-popbod dform"><ol> <script>var nId = "d3fa9e217f2595b157b0e1ff3b9fb3170d3b425d22474fd8",nWidth="auto",sColor="light",sText="填写您的邮件地址，订阅我们的精彩内容：" ;</script><script src="http://list.qq.com/zh_CN/htmledition/js/qf/page/qfcode.js" charset="gb18030"></script></ol></div></div><div class="theme-popover-mask" style="display: none;"></div> <div class="contain">
<div class="wraper">
<div class="show-big">
</div>
<div class="search-big">
<form name="soform" onsubmit="return gosubmit(this);" action="/">
<div class="search-big-top">
<div class="input-main">
<input name="key" baiduSug="2" autocomplete="off" placeholder="你想要的资源哇,都能找到" type="text" maxlength="100">
</div>
<button type="submit" class="search-btn"><i class="fa fa-search fa-x1"></i>搜索</button>
</div>
</form>
</div>
<div class="new-big">
<div class="new-t">已收录</div><span class="t_num"></span><div class="new-t">条资源</div>
</div>
<div class="hot-big">
<table width="100%" cellspacing="0" class="panel panel-primary">
<tr class="panel-heading hot">
<td class="panel-title num" width="15%">热门排行榜</td>
<td class="panel-title" width="17&">电影</td>
<td class="panel-title" width="17&">电视剧</td>
<td class="panel-title" width="17&">综艺</td>
<td class="panel-title" width="17&">动漫</td>
<td class="panel-title" width="17&">音乐</td>
</tr>
<tr class="hot">
<td class="num"><em>1</em></td>
<td><a href="/search/捉妖记" title="捉妖记">捉妖记</a> </td>
<td><a href="/search/花千骨" title="花千骨">花千骨</a> </td>
<td><a href="/search/极限挑战" title="极限挑战">极限挑战</a> </td>
<td><a href="/search/火影忍者" title="火影忍者">火影忍者</a> </td>
<td><a href="/search/宠爱" title="宠爱">宠爱</a> </td>
</tr>
<tr class="hot">
<td class="num"><em>2</em></td>
<td><a href="/search/煎饼侠" title="煎饼侠">煎饼侠</a> </td>
<td><a href="/search/盗墓笔记" title="盗墓笔记">盗墓笔记</a> </td>
<td><a href="/search/中国好声音" title="中国好声音">中国好声音</a> </td>
<td><a href="/search/海贼王" title="海贼王">海贼王</a> </td>
<td><a href="/search/泡沫" title="泡沫">泡沫</a> </td>
</tr>
<tr class="hot">
<td class="num"><em>3</em></td>
<td><a href="/search/道士下山" title="道士下山">道士下山</a> </td>
<td><a href="/search/华胥引之绝爱之城" title="华胥引之绝爱之城">华胥引之绝爱之城</a> </td>
<td><a href="/search/爸爸去哪儿" title="爸爸去哪儿">爸爸去哪儿</a> </td>
<td><a href="/search/尸兄" title="尸兄">尸兄</a> </td>
<td><a href="/search/海阔天空" title="海阔天空">海阔天空</a> </td>
</tr>
<tr class="hot">
<td class="num"><em>4</em></td>
<td><a href="/search/复仇者联盟2" title="复仇者联盟2">复仇者联盟2</a></td>
<td><a href="/search/暗黑者" title="暗黑者">暗黑者</a></td>
<td><a href="/search/蒙面歌王" title="蒙面歌王">蒙面歌王</a></td>
<td><a href="/search/妖精的尾巴" title="妖精的尾巴">妖精的尾巴</a> </td>
<td><a href="/search/后会无期" title="后会无期">后会无期</a> </td>
</tr>
<tr class="hot">
<td class="num"><em>5</em></td>
<td><a href="/search/速度与激情7" title="速度与激情7">速度与激情7</a></td>
<td><a href="/search/小爸妈" title="小爸妈">小爸妈</a></td>
<td><a href="/search/快乐大本营" title="快乐大本营">快乐大本营</a></td>
<td><a href="/search/名侦探柯南" title="名侦探柯南">名侦探柯南</a> </td>
<td><a href="/search/心之火" title="心之火">心之火</a> </td>
</tr>
</table>
</div>
<div class="pay-big">
<div class="pay">
<div class="pay-tle">如果磁力岛网帮您找出过想要的资源，那就打赏小岛吧，帮小岛走出因为流量激增而频繁死机的困境</div>
<div class="pay-go">
<form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="UTF-8" style="text-align: center">
<span style="padding-left:30px;"><input type="radio" name="ten" value="10" style="vertical-align: middle;" checked=""><b>10元</b></span>
<span style="padding-left:30px;"><input type="radio" name="ten" value="20" style="vertical-align: middle;"><b>20元</b></span>
<span style="padding-left:30px;"><input type="radio" name="ten" value="50" style="vertical-align: middle;"><b>50元</b></span>
<span style="padding-left:30px;"><input type="radio" name="ten" value="100" style="vertical-align: middle;"><b>100元</b></span>
<span style="padding-left:30px;"><input type="radio" name="ten" value="200" style="vertical-align: middle;"><b>200元</b></span>
<span style="padding-left:30px;"><input type="radio" name="ten" value="1000" style="vertical-align: middle;"><b>土豪</b></span>
<input name="optEmail" type="hidden" value="xh5724@163.com">
<input name="payAmount" type="hidden" value="10"/>
<input id="title" name="title" type="hidden" value="">
<input name="memo" type="hidden" value="">
<input name="pay" type="image" src="/img/btn-index.png" style="margin-left:20px;width: 115px;vertical-align: middle">
</form>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
<div class="copy-footer">
<p>本站资源均来自互联网和DHT网络，仅供技术研究，本站不负任何法律责任，如有侵权请联系站长</p>
<p>Copyright©2015-2020 www.juhelian.com All Rights Reserved</p><p>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255958842'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1255958842%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</p>
</div>
</footer>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script>
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('4.5("<1 2=\\"3/6\\" 9=\\"/a/7/0/8.0\\"></1>");',11,11,'js|script|type|text|document|writeln|javascript|static|num|src|Public'.split('|'),0,{}))

</script>
<script>
jQuery(document).ready(function($) {
  $('.theme-login').click(function(){
    $('.theme-popover-mask').fadeIn(100);
    $('.theme-popover').slideDown(200);
  })
  $('.theme-poptit .close').click(function(){
    $('.theme-popover-mask').fadeOut(100);
    $('.theme-popover').slideUp(200);
  })

})
</script>
</body>
</html>
